# Flutter/Dart
.dart_tool/
.packages
build/
pubspec.lock
.flutter-plugins
.flutter-plugins-dependencies
*.iml
*.ipr
*.iws
.idea/

# macOS
.DS_Store

# Android
.android/
local.properties
*.keystore
*.jks

# iOS
ios/Flutter/.last_build_id
ios/Pods/
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh

# VS Code
.vscode/

# Test
coverage/